/**index.wxss**/
.self-assessment {
  font-family: Consolas, Monaco, monospace;
  text-indent: 4ch;
  line-height: 6ch;
}
.text-cursor{
  border-left: 1px solid black;
}
.icon-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.qrcode,
.telephone {
  padding-top: 20rpx;
  text-align: center;
}